h1,h2{
  font-family: "Aharoni", "Trebuchet MS", sans-serif;
}

label, div{
  font-family: "Trebuchet MS", sans-serif;
}

.help-icon{
  margin-left: 0.25em;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

body{
  background-color: #2FB371
}

#title{
  color: #CB2F2F
}

#subtitle{
  color: #F0C929
}

#content{
  display: table;
  margin: auto;
}

nav{
  background-color: #CB2F2F;
}

.nav-button{
  display: inline-block;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.nav-button:hover{
  background-color: #F25555;
}

#calculator{
  background-color: #FFF8C1;
  padding: 10px;
}

.short-number-input{
  width: 2em;
}

#dice{
  margin: 10px 0;
}

.die-selector{
  display: inline-flex;
  flex-direction: column;
}

.die-selector *{
  display: block;
}

button{
  border-width: 0.5px;
  outline: none;
}

button:hover{
  background-color: lightgrey;
}

.increment-value{
  border-radius: 8px 8px 3px 3px;
}

.decrement-value{
  border-radius: 3px 3px 8px 8px;
}

.die-image{
  background-color: white;
  border-radius: 7px;
}

#recommendation{
  margin: 10px 0;
}

.recommended-action{
  display: inline-block;
  width: 48px;
  border: solid 1px #F0C929;
  background: yellow;
  text-align: center;
}

#scores-label{
  text-align: center;
  color: white;
  cursor: pointer;
  background-color: #CB2F2F
}

#scores-label:hover{
  background-color: #F25555;
}

#rotating-icon{
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.25s;
}

#scores-dropdown{
  display: flex;
  height: 0;
  overflow: hidden;
  transition: height 0.25s;
}

.scores-column{
  margin: 0 10px;
  display: table;
}

tr{
  height: 23.33px;
}

.expected {
  background-color: yellow;
  border: solid 1px #F0C929;
}

footer{
  font-family: "Trebuchet MS", sans-serif;
}
